//- Menu 
//-
//- orientation   oneOf ('horizontal' | 'vertical') - Menu items orientation
//- items         array ([]) - Menu items
//--- name      string ('') - Menu item name
//--- href      string ('') - Menu item href
//--- isActive  boolean (false) - Is this currently selected menu item
//--- submenu   array ([]) - Array of submenu items 
mixin menu({orientation: 'horizontal', items: []} = {})
  include /components/button/button.pug

  -
    function makeMenu(items, orientation) {
      const classList = ['menu', `menu_is-${orientation}`]

      return `<ul class="${classList.join(' ')}">${items.map(makeItem).join('')}</ul`;
    }

    function makeItem({name: '', href: '', isActive: false, submenu: []} = {}) {
      const classList = ['.menu__item'];
      if (submenu) classList.push('.menu__item_has-submenu');
      if (isActive) classList.push('.menu__item_is-active');

      return `
        <li class="${classList.join(' ')}">
          <a class="menu__link" href="${href}">${name}</a>
          ${submenu && `<ul class="menu__submenu">${makeMenu(submenu)}</ul>`}
        </li>
      `;
    }

    makeMenu(items, orientation);