//- Register Form
//-
//- loginLink   {string} Link to login page
//- mods        {array} modifier classes
mixin register(props = {})
  include /components/library/form/form.pug
  include /components/library/form-field/form-field.pug
  include /components/library/form-field-radio/form-field-radio.pug
  include /components/library/form-field-checkbox/form-field-checkbox.pug
  include /components/library/form-field-datetime/form-field-datetime.pug
  include /components/library/button/button.pug

  -
    props = Object.assign({
      loginLink: '',
      mods: []
    }, props)

    // TODO: create system for localization
    var labels = {
      title: 'Регистрация аккаунта',
      man: 'Мужчина',
      woman: 'Женщина',
      name: 'Имя',
      surname: 'Фамилия',
      birthdate: 'Дата рождения',
      credentials: 'Данные для входа в сервис',
      email: 'Email',
      password: 'Пароль',
      newsletter: 'Получать спецпредложения',
      submit: 'Перейти к оплате',
      haveAccount: 'Уже есть аккаунт на Toxin',
      login: 'Войти'
    }

    var mods = ['register'].concat(props.mods)

    var birthdateFieldId = `register__birthdate-${Math.random().toString(36).substring(2, 7)}`
    var emailFieldId = `register__email-${Math.random().toString(36).substring(2, 7)}`

  div(class= mods)
    +form({mods: ['register__form']})&attributes(attributes)
      h2.register__title= labels.title

      +form-field({mods: ['register__name-input']})(type= 'text', placeholder= labels.name, required= true)
      +form-field({mods: ['register__surname-input']})(type= 'text', placeholder= labels.surname, required= true)

      .register__gender
        +form-field-radio({mods: ['register__is-man'], label: labels.man})(checked= true, name= 'gender')
        +form-field-radio({mods: ['register__is-woman'], label: labels.woman})(name= 'gender')

      label(for= birthdateFieldId)= labels.birthdate
      +form-field-datetime({ mods: ['register__birthdate'] })(id= birthdateFieldId, required= true)

      label(for= emailFieldId)= labels.credentials
      +form-field({mods: ['register__email']})(type= 'email', placeholder= labels.email, id= emailFieldId, required= true)
      +form-field({mods: ['register__password']})(type= 'password', placeholder= labels.password, required= true)

      +form-field-checkbox({
        mods: ['checkbox_theme-toggle', 'register__newsletter'],
        label: labels.newsletter
      })

      +button({
        value: labels.submit, 
        isExpanded: true, 
        hasRipple: true, 
        iconName: 'arrow-right',
        mods: ['register__submit']
      })

      .register__have-account
        span= labels.haveAccount
        +button({
          type: 'link',
          value: labels.login, 
          isOutlined: true,
          mods: ['register__login']
        })&attributes({href: props.loginLink})