mixin register
  include /components/button/button.pug
  include /components/icon/icon.pug
  include /components/form/form.pug
  include /components/form-field-datetime/form-field-datetime.pug

  -
    const labels = {
      title: 'Регистрация аккаунта',
      man: 'Мужчина',
      woman: 'Женщина',
      name: 'Имя',
      surname: 'Фамилия',
      birthday: 'Дата рождения',
      credentials: 'Данные для входа в сервис',
      email: 'Email',
      password: 'Пароль',
      newsletter: 'Получать спец предложения',
      submit: 'Перейти к оплате',
      haveAccount: 'Уже есть аккаунт на Toxin',
      login: 'Войти'
    }

  .register
    +form
      h2.register__title= labels.title

      .register__name
        input(type= 'text', class= 'register__name-input', placeholder= labels.name, required)
        input(type= 'text', class= 'register__surname-input', placeholder= labels.surname, required)

      .register__gender
        label= labels.man
          input(type= 'radio', class= 'register__is-man', name= 'gender', checked)
        label= labels.woman
          input(type= 'radio', class= 'register__is-woman', name= 'gender')

      .register__birthday
        label= labels.birthday
          +form-field-datetime(required= true)

      .register__credentials
        label= labels.credentials
          input(type= 'email', class= 'register__email', placeholder= labels.email, required= true)
          input(type= 'password', class= 'register__password', placeholder= labels.password, required= true)

      label= labels.newsletter
        input(type= 'checkbox', class = ['checkbox_theme-toggle', 'register__newsletter'])

      +button({iconName: '', mods: ['expanded']})= labels.submit
        +icon({name: 'arrow-right'})

      .register__have-account
        span= labels.haveAccount
        +button({type: 'link', href: loginLink, mods: ['outlined']})= labels.login 