extends base.pug

//- library components
include components/library/icon/icon.pug
include components/library/form/form.pug
include components/library/form-field/form-field.pug
include components/library/form-field-datetime/form-field-datetime.pug
include components/library/button/button.pug
include components/library/counter/counter.pug

//- project components
include components/project/header/header.pug
include components/project/footer/footer.pug
include components/project/copyright-bar/copyright-bar.pug
include components/project/subscription/subscription.pug

block content
  section.showcase
    h2.showcase__title icons
    .showcase__content
      .ui-icons
        each iconName in icons
          .ui-icons__icon-info
            .ui-icons__name= iconName
            .ui-icons__icon
              +icon({name: iconName})

  section.showcase
    h2.showcase__title header
    .showcase__content
      +header({isLoggedIn: false})
      +header({isLoggedIn: true})

  section.showcase
    h2.showcase__title footer
    .showcase__content
      +footer
      +footer({type: 'creative'})

  section.showcase
    h2.showcase__title copyright bar
    .showcase__content
      +copyright-bar

  section.showcase
    h2.showcase__title subscription
    .showcase__content
      +subscription()
      br
      +subscription({iconName: 'emoticon-happy', url: '/subscribe'})
      br
      +subscription({iconName: 'hart-active', iconPosition: 'left'})

  section.showcase
    h2.showcase__title counter
    .showcase__content
      +counter({label: 'Default counter'})
      br
      +counter({label: 'Counter with min & max', min: 5, max: 10, value: 7})
      br
      +counter({label: 'Counter with step', step: 10})

  section.showcase
    h2.showcase__title form elements
    .showcase__content
      h3.showcase__subtitle buttons
      .ui-buttons
        +button({value: 'click me', isRounded: false, hasRipple: true})
        +button({value: 'click me', isRounded: false, isOutlined: true})
        +button({type: 'link', value: 'click me'})(title= 'External link', href= 'https://google.com')
        +button({value: 'click me', isOutlined: true})
        +button({value: 'click me', isText: true})
        +button({value: 'перейти к оплате', isDisabled: true})
        +button({value: 'перейти к оплате', isExpanded: true, hasRipple: true})
        +button({value: 'перейти к оплате', isExpanded: true, isOutlined: true, iconName: 'arrow-right', iconPosition: 'right'})
        +button({value: 'перейти к оплате', iconName: 'arrow-right'})
        +button({value: 'перейти к оплате', isOutlined: true, iconName: 'arrow-left', iconPosition: 'left'})

      h3.showcase__subtitle input text
      .ui-inputs
        +form(action='#', method='POST')
          +form-field(placeholder='default text input', type='text')
          +form-field(placeholder='disabled text input', disabled=true, type='text')
          +form-field(placeholder='required text input', required=true, type='text')
          +form-field(placeholder='with min lenght = 3', minlength=3, required=true, type='text')
          +form-field(placeholder='with max lenght = 7', maxlength=7, required=true, type='text')

      h3.showcase__subtitle input datetime
      .ui-inputs
        +form(action='#', method='POST')
          h4 default
          +form-field-datetime
          +form-field-datetime(disabled=true)
          +form-field-datetime(required=true)
          h4 with datepicker
          +form-field-datetime({useDatepicker: true})(placeholder='ДД.ММ.ГГ')
          +form-field-datetime({useDatepicker: true, datepickerMode: 'range'})(placeholder='ДД.ММ.ГГ - ДД.ММ.ГГ')
          +form-field-datetime({useDatepicker: true, datepickerMode: 'multiple'})(placeholder='ДД.ММ.ГГ, ДД.ММ.ГГ, ...')
          +form-field-datetime({useDatepicker: true, dateFormat: 'm.Y'})(placeholder='ММ.ГГ')
          +form-field-datetime({useDatepicker: true, dateFormat: 'd M', datepickerMode: 'range'})(placeholder='ДД М - ДД М')
          h4 with date mask
          +form-field-datetime({dateFormat: 'Y'})
          +form-field-datetime({dateFormat: 'm.Y'})
          +form-field-datetime({dateFormat: 'd.m.Y'})
