//- Room Reservation
//-
//- room          string ('') - room number
//- isLux         boolean (false) - If true - number is of lux quality, false - otherwise
//- price         number (0) - price per day
//- currency      string ('₽') - Currency indicator
//- fees          array ([]) - additional fees 
//--- fee { 
//---   title     string ('') - fee name
//---   desc      string ('') - fee description
//---   amount    number (0) - fee amount
//--- }
mixin room-reservation(props = {})
  include /components/form/form.pug
  include /components/form-field-datetime/form-field-datetime.pug
  include /components/dropdown-counter/dropdown-counter.pug
  include /components/icon/icon.pug
  include /components/button/button.pug

  -
    const labels = {
      submit: 'Забронировать',
      arrival: 'Прибытие',
      departure: 'Выезд',
      guests: 'Гости',
      lux: 'люкс',
    };

    const classList = ['room-reservation']
    if (isLux) classList.push('room-reservation_is-lux')

  div(class= classList)
    +form
      .room-reservation__row
        .room-reservation__room-details №
          span.room-reservation__room-number= roomNumber
          if (isLux)
            span.room-reservation__lux-indicator= labels.lux
        .room-reservation__price-details
          span.room-reservation__price= price
          span.room-reservation__currency= currency
          | в сутки

      .room-reservation__row
        .room-reservation__arrival
          label= labels.arrival
            +form-field-datetime({useDatepicker: true})(placeholder='ДД.ММ.ГГ')
        .room-reservation__departure
          label= labels.departure
            +form-field-datetime({useDatepicker: true })(placeholder='ДД.ММ.ГГ')

      .room-reservation__guests
        label= labels.guests
          +dropdown-counter({
            counters: [{
                label: 'взрослые',
                plurals: ['взрослый', 'взрослых', 'взрослых'],
              },
              {
                label: 'дети',
                plurals: ['ребенок', 'детей', 'детей'],
              },
              {
                label: 'младенцы',
                plurals: ['младенец', 'младенца', 'младенцев'],
            }],
            displayType: 'concat',
            plurals: ['гость', 'гостя', 'гостей'],
          })(placeholder= 'Сколько гостей')

      .room-reservation__fees(
        style= 'display: none',
        'data-fees'= fees,
        'data-price'= price,
        'data-currency'= currency
      )

      +button({mods: 'expanded'})= labels.submit
        +icon({name: 'arrow-right'})