//- Room Reservation
//-
//- roomNumber    {string} room number
//- isLux         {boolean} If true - number is of lux quality, false - otherwise
//- price         {number} price per day
//- currency      {string} Currency indicator
//- labels        {object} Form labels
//- fees          {array} additional fees 
//--- fee { 
//---   title     {string} fee name
//---   desc      {string} fee description
//---   amount    {number} fee amount
//--- }
//- mods          {array} modifier classes
mixin room-reservation(props = {})
  include /components/form/form.pug
  include /components/form-field-datetime/form-field-datetime.pug
  include /components/dropdown-counter/dropdown-counter.pug
  include /components/icon/icon.pug
  include /components/button/button.pug

  -
    props = Object.assign({
      roomNumber: '',
      isLux: false,
      price: 0,
      currency: '₽',
      fees: [],
      mods: []
    }, props)

    // Object.assign can't merge nested objects. 
    // Make merging separately
    var labels = Object.assign({
      submit: 'Забронировать',
      arrival: 'Прибытие',
      departure: 'Выезд',
      guests: 'Гости',
    }, props.labels || {})

    props.labels = labels

    var mods = ['room-reservation'].concat(props.mods)

    if (props.isLux) mods.push('room-reservation_is-lux')

    var arrivalFieldId = createRandomId('room-reservation__arrival');
    var departureFieldId = createRandomId('room-reservation__departure');
    var guestsFieldId = createRandomId('room-reservation__guests');

  div(class= mods)
    +form({mods: ['room-reservation__form']})&attributes(attributes)
      .room-reservation__row
        .room-reservation__room-details №
          span.room-reservation__room-number= props.roomNumber
          if (props.isLux)
            span.room-reservation__lux-indicator люкс
        .room-reservation__price-details
          span.room-reservation__price= props.price
          span.room-reservation__currency= props.currency
          | в сутки

      .room-reservation__row
        .room-reservation__arrival
          label.room-reservation__label(for= arrivalFieldId)= labels.arrival
          +form-field-datetime({useDatepicker: true, mods: ['room-reservation__arrival-input']})(placeholder='ДД.ММ.ГГ')
        .room-reservation__departure
          label.room-reservation__label(for= departureFieldId)= labels.departure
          +form-field-datetime({useDatepicker: true, mods: ['room-reservation__departure-input']})(placeholder='ДД.ММ.ГГ')

      .room-reservation__guests
        label.room-reservation__label(for= guestsFieldId)= labels.guests
        +dropdown-counter({
          counters: [{
              label: 'взрослые',
              plurals: ['взрослый', 'взрослых', 'взрослых'],
              objectId: '18+'
            },
            {
              label: 'дети',
              plurals: ['ребенок', 'детей', 'детей'],
              objectId: 'child'
            },
            {
              label: 'младенцы',
              plurals: ['младенец', 'младенца', 'младенцев'],
              objectId: 'toddler',
          }],
          displayType: 'concat',
          plurals: ['гость', 'гостя', 'гостей'],
          mods: ['room-reservation__guests-input']
        })&attributes({placeholder: 'Сколько гостей'})

      div(class= 'room-reservation__fees', style= 'display: none')&attributes({
        'data-fees': props.fees,
        'data-price': props.price,
        'data-currency': props.currency
      })

      +button({
        value: labels.submit, 
        isExpanded: true, 
        hasRipple: true, 
        iconName: 'arrow-right',
        mods: ['room-reservation__submit']
      })